.principal
    {
        background-color: rgb(167, 121, 127);
   
        text-align: center;
        color: black;  
        font-family: 'Courier New', Courier, monospace;    
    }
    .nome
    {

        margin-top: 30px;
    }
            
    footer{
       
    position: fixed;
    bottom:0;
    left:0;
    color: aliceblue;
    background-color:rgb(7, 7, 7);
    width: 100%;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif

    }
    .desenvolv{
    color: aliceblue;
    background-color:rgb(7, 7, 7);
    width: 100%;
    text-align:right;
    font-family: Arial, Helvetica, sans-serif

    }
.p
    {
        text-align: right;
        position: fixed;
    }




   